@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
  margin-block: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e4e5ff;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
